<div class="organizer_horizontal-card">
  <a href="{{ organizer.link }}" target="_blank" rel="noopener">
    <img src="{{ '/assets/img/' | append: organizer.image }}" alt="{{ organizer.name }}">
    <div class="organizer_horizontal-info">
      <strong>{{ organizer.name }}</strong>
      <p>{{ organizer.affiliation }}</p>
    </div>
  </a>
</div>